<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <p><%= message.user %></p>
          <p><%= message.text %></p>
          <p><%= message.added %></p>
        </li>
      <%}) %>
    </ul>
  </body>
</html>